<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxfK4qTMeJOVAVomPyzH_ppO2PexWQLKI</string>
	<key>GCM_SENDER_ID</key>
	<string>1003345878125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mychatt.myChattApp</string>
	<key>PROJECT_ID</key>
	<string>my-chatt-c75a7</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chatt-c75a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003345878125:ios:e2c6b1532d426e5f5e7364</string>
</dict>
</plist>